<div class="container">
    <hr>
    <footer>
        <p class="footer-brand">
            Created by<a class="footer-links" href="https://github.com/camp-fire">@Campfire</a>
        </p>
    </footer>
</div>

<!-- Load JS here for greater good =============================-->
<script src="js/jquery-2.0.3.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>