<% include head.ejs %>
<div class="">
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-xs-offset-3 login-icon">
                <img src="images/imac.png" alt="欢迎回到宿舍楼">
                <h4>欢迎回到
                    <small>宿舍楼</small>
                </h4>
            </div>

            <div class="col-xs-5 col-sm-3 login-screen">
                <form action="/login" method="post" role="form">
                    <div class="form-group">
                        <input type="text" class="form-control login-field" value="" placeholder="请输入昵称" id="login-name"
                               name="name"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control login-field" value="" placeholder="请输入密码"
                               id="login-pass" name="password"/>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block">进门打卡</button>
                </form>
            </div>
        </div>
    </div>
</div>
<% include foot.ejs %>
