<% include head.ejs%>
<div class="container">
    <div class="row">
      <div class="col-xs-5 login-icon">
        <img src="images/imac.png" alt="Welcome to Campfire">
        <h4>Welcome to <small>Campfire</small></h4>
      </div>
      <div class="col-xs-3 login-screen">
        <form action="/reg" method="post">
          <div class="form-group">
            <input type="text" class="form-control login-field" value="" placeholder="Enter your name" id="name" name="name" />
            <label class="login-field-icon fui-user" for="regName"></label>
          </div>

          <div class="form-group">
            <input type="password" class="form-control login-field" value="" placeholder="Password" id="password" name="password" />
            <label class="login-field-icon fui-lock" for="regPass"></label>
          </div>

          <div class="form-group">
            <input type="password" class="form-control login-field" value="" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword"/>
            <label class="login-field-icon fui-lock" for="loginConfirmPass"></label>
          </div>

          <button class="btn btn-primary btn-lg btn-block">save</button>
        </form>
      </div>
    </div>
</div>
<% include foot.ejs%>
