
body {
    padding-top: 120px;
    padding-bottom: 20px;
}

.alert-div {
    position: absolute;
    top: 60px;
    left: 0px;
    right: 0px;
    z-index: auto;

}

.login-icon {
}

.login-icon img {
    width: 150px;
    float: right;
}

.login-icon h4 {
    width: 150px;
    float: right;
}

.login-screen {
}

.login-screen form {
    position: relative;
}
